/* --------------------------------------------
	CATEGORIES
-------------------------------------------- */

.category-home-header {
    border-top: 1px dotted #ccc;
}
.category-home-topic {
    padding-left: 0;
    min-height: 180px;
}
.category-home-topic-panel {
    padding: 0 10px 10px;
    min-height: 160px;
}
.category-home-topic-title {
}
.category-home-item {
    margin-bottom: 8px;
}
.category-home-topic-date {
    display: block;
    font-size: 11px;
    text-align: right;
}

.widget-type-stream .category-blogs-simple {
    padding-left: 20px;
}
.widget-type-stream .category-blogs-simple li {
    padding: 4px 0 0 10px;
}

.widget-type-categories a[data-toggle=collapse] {
    display: block;
}