<?xml version="1.0" encoding="UTF-8"?>
<plugin compatible="alto">
    <id>categories</id>
    <name>
        <lang name="default">Categories</lang>
    </name>
    <author>
        <lang name="default">Alto CMS Team</lang>
    </author>
    <homepage>http://altocms.com</homepage>
    <version>1.1.10</version>
    <dirname>categories</dirname>
    <requires>
        <alto>
            <version>1.1.0</version>
        </alto>
        <system>
            <php>5.3.0</php>
        </system>
    </requires>
    <description>
        <lang name="default">Categories for blogs and alternative homepage</lang>
    </description>
</plugin>